.overlayContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.popperContainer {
	background-color: #fefefe;
	margin: auto;
	border: 1px solid #888;
	border-radius: 8px;
	max-width: 80%;
	padding: 24px;
	& > div,
	& > form > div {
		padding: 8px 0px;
	}
	h3 {
		margin-top: 0px;
	}
	form {
		label {
			padding-right: 4px;
		}
		input[type="radio"] {
			margin-top: -1px;
			vertical-align: middle;
		}
	}
}

.genderRow {
	& > span > span {
		padding-right: 8px;
	}
	& > span {
		display: block;
		margin-top: 8px;
	}
}

.photo {
	position: relative;
	border: 1px solid black;
	border-radius: 10px;
	width: 120px;
	height: 120px;
	margin: 8px 0px;
	& img {
		border-radius: 10px;
		background-color: lightgrey;
	}
}
.submitBtn {
	display: flex;
	justify-content: space-around;
	button {
		margin-top: 8px;
	}
}

.required {
	color: red;
}
